@font-face {
  font-family: 'Geist var';
  src: url('/fonts/GeistVariableVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* Common Tailwind Styles
==================================================== */

/* Should be used on components like inputs, selects, and combo boxes */
.compounds-focus-outline {
  @apply border border-neutral-300 focus-within:border-neutral-600 focus-within:ring-4 focus-within:ring-neutral-300;
}

/* ================================================== */



/*
Doc site custom styles
These are styles exclusive to the doc site,
they should not be bundled with the components
==================================================== */
/* Firefox scrollbar */
.doc-scroll::-webkit-scrollbar-thumb {
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1;
}

/* For Webkit Browsers */
.doc-scroll::-webkit-scrollbar {
  width: 10px;
}

.doc-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
}

.doc-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* ================================================== */


/*
Components custom styles
These should be bundled with the components
==================================================== */
div.compounds-spinner div.compounds-bar1 {
-webkit-transform:rotate(0deg) translate(0, -130%);
-webkit-animation-delay: 0s;
}

div.compounds-spinner div.compounds-bar2 {
-webkit-transform:rotate(30deg) translate(0, -130%);
-webkit-animation-delay: -0.9167s;
}

div.compounds-spinner div.compounds-bar3 {
-webkit-transform:rotate(60deg) translate(0, -130%);
-webkit-animation-delay: -0.833s;
}
div.compounds-spinner div.compounds-bar4 {
-webkit-transform:rotate(90deg) translate(0, -130%);
-webkit-animation-delay: -0.7497s;
}
div.compounds-spinner div.compounds-bar5 {
-webkit-transform:rotate(120deg) translate(0, -130%);
-webkit-animation-delay: -0.667s;
}
div.compounds-spinner div.compounds-bar6 {
-webkit-transform:rotate(150deg) translate(0, -130%);
-webkit-animation-delay: -0.5837s;
}
div.compounds-spinner div.compounds-bar7 {
-webkit-transform:rotate(180deg) translate(0, -130%);
-webkit-animation-delay: -0.5s;
}
div.compounds-spinner div.compounds-bar8 {
-webkit-transform:rotate(210deg) translate(0, -130%);
-webkit-animation-delay: -0.4167s;
}
div.compounds-spinner div.compounds-bar9 {
-webkit-transform:rotate(240deg) translate(0, -130%);
-webkit-animation-delay: -0.333s;
}
div.compounds-spinner div.compounds-bar10 {
-webkit-transform:rotate(270deg) translate(0, -130%);
-webkit-animation-delay: -0.2497s;
}
div.compounds-spinner div.compounds-bar11 {
-webkit-transform:rotate(300deg) translate(0, -130%);
-webkit-animation-delay: -0.167s;
}
div.compounds-spinner div.compounds-bar12 {
-webkit-transform:rotate(330deg) translate(0, -130%);
-webkit-animation-delay: -0.0833s;
}
/* ================================================== */
